/* style.css */

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;    
}

body {
  background-color: black;
  color: white; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.home-background{  
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('../public/Pictures/Bg.jpg');
}

.dashboard-background {
  background-image: url('../public/Pictures/b2.jpg');
}


.navbar{
  width: 85%;
  margin: auto;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 120px;
  cursor: pointer;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color:#fff;
  
}

.navbar ul li::after{
 content: '';
 height: 3px;
 width: 0;
 background: #F87171;
 position: absolute;
 left: 0;
 bottom: -10px;
 transition: 0.2s;
}

.navbar ul li:hover::after{
  width: 100%;
} 

.mid{
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
  text-align:center;
  color: #fff;
}

.Homemid{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
  color: #fff;
}



.Homemid h1{
  font-size: 70px;
  margin-top: 70px;
}

.Homemid p{
  margin: 10px auto;       
}

button{
  width: 120px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #fff;
  color: #000; 
}

.dashhead{
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  font-weight: bold;
  margin-top: 2px;
  margin-left: 90px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center; 
  margin: 0 auto;
}

.left-side{
  padding-left: 10%;
  margin-top: 0%; 
}

h1{
  color: #fff;
}
h2{
  color: #fff;
}

h3{
  text-align: left;
}

.perinfo {
  display: grid;
  font-family: "Open Sans", sans-serif;
  grid-template-columns: max-content 1fr;
  gap: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
}

.perinfo label {
  font-weight: bold;
  color: #fff;
}
  
.right-side {
  width: 30%;
  height: 500px;
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
}

.itemlist {
  width: 90%;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
}

.right-side .item-posting {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.dashbutton {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  text-align: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 12px;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
}

.dashbutton:hover{
  background-color: #F87171; 
  color: #2A2A2A;
}

.perinfo input[type="text"] {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

h2{
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -20px;
}

label{
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[text="file"]
{
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] 
{
  width: 100%;
  padding: 10px 20px;
  background-color: #F87171;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: large;
}

/*---------------------------ABOUT US---------------------------------*/

.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.aboutin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  width: 100%;
  padding: 20px;
  height: 90vh;
}

.about-content {
  flex: 1;
  text-align: center;
  margin-bottom: 20px;
}

.about-content h2 {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}

.about-content p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icons img {
  width: 30px;
  margin: 0 5px;
}

.about-img {
  flex: 1;
  background-image: url("../public/Pictures/abtus.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
}

.acad-img {
  flex: 1;
  background-image: url("../public/Pictures/ser.jpg");
  background-size: cover;
  background-position: center;
  height: 440px;
}

@media screen and (max-width: 768px) {
  .navbar {
      width: 100%;
      padding: 10px 0;
  }

  .navbar ul li {
      display: block;
      text-align: center;
      margin: 10px 0;
  }

  .navbar ul li::after {
      bottom: 0;
  }

  .home{
      background-size: contain;
  }

  .Homemid h1{
      font-size: 40px;
      margin-top: 40px;
  }

  .dashboard{
      background-size: cover; 
      background-position: center;
  }

  .content {
      flex-direction: column;
      align-items: center;
  }

  .left-side {
      padding-left: 5%;
      margin-top: 5%;
  }

  .right-side {
      width: 90%;
  }

  .itemlist {
      width: 100%;
  }

  .right-side .item-posting {
      margin-bottom: 10px;
  }

  .perinfo {
      margin: 10px;
  }

  .perinfo input[type="text"] {
      width: 100%;
  }

  .card {
      max-width: 100%;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[text="file"] {
      width: 100%;
  }

  input[type="submit"] {
      width: 100%;
  }

  .about_container {
      flex-direction: column;
  }
    
  .about {
        flex-direction: column;
  }
    
  .about-content {
        margin-right: 0;
        text-align: center;
  }
    
  .about-img {
        margin-top: 20px;
        align-self: center;
  }
}


.ftable {
  border-collapse: collapse;
  border: #ffffff;
  border-color: #ffffff;
  margin: 25px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  min-width: 50px;
  
}
.ftable th,
.ftable td {
  padding: 12px 20px;
  color: #ffffff;
}

table,
td {
    border: 1px solid #a3a1a1;
}

thead
{
    border:1px solid #a3a1a1;
    color: #ffffff;
}

.bgColorPink{
  background-color: #f19d9d;
}

.wrapper{
  display: flex;
  justify-content: center; 
  margin-top: 40px;
}

.tile-container {
  flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px; 
  display: flex;
  flex-direction: row;
  }

  .secondarycontent {
  
    text-align: center;
  }

  .tv-img {
    flex: 1;
    background-image: url("../public/Pictures/tv.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
  }

  .stringlights-img {
    flex: 1;
    background-image: url("../public/Pictures/stringlights.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
  }

  .bedframe-img {
    flex: 1;
    background-image: url("../public/Pictures/bedframe.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
  }

  .microwave-img {
    flex: 1;
    background-image: url("../public/Pictures/microwave.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
  }

  .refrigerator-img {
    flex: 1;
    background-image: url("../public/Pictures/refrigerator.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
  }